<h1 class="text-center climas">
    ECOWEATHER </h1>
<h2 class="text-center climas">
    Consulta los climas de la ubicación actual </h2>
<div class="container">
    <div class="row climas">
        <div class="card animated bounceInLeft" style="width: 18rem;" *ngFor="let clima of climas">
            <div class="card-body">
                <p class="card-text">
                    Temperatura minima {{clima.main.temp_min}}<i class="fas fa-cloud"></i>
                </p>
                <p class="card-text">
                    Temperatura máxima {{clima.main.temp_max}}
                    <i class="far fa-sun"></i>
                </p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-2 ">

        </div>
    </div>
</div>
<hr>