<h1 class="text-center">
    Reporta las plagas que conozcas
</h1>
<p class="text-center"> Para que las demás personas se encuentren al pendiente.</p>
<div class="container">
    <div class="row">
        <div class="col-md-6 animated fadeInDown">
            <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="clickMap( $event )">
                <agm-marker [latitude]="marcador.lat" [longitude]="marcador.lng" (dragEnd)="dragEndMarcador(marcador, $event)" (markerClick)=" clickMarcador(marcador, i) " [markerDraggable]="marcador.draggable " *ngFor="let marcador of _ms.marcadores; let i = index ">
                    <agm-info-window>{{ plaga }}</agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
        <div class="col-md-6">
            <form #f='ngForm' (ngSubmit)="agregarPlaga(f)">
                <div class="form-group">
                    <label for="plaga"> Agrega la plaga </label>
                    <input type="text" [(ngModel)]="plaga" name="plaga" placeholder="Agrega la plaga" class="form-control">
                    <input type="submit" class="btn btn-primary btn-block" value="Agregar">
                </div>
            </form>
        </div>
    </div>

    <!-- (click)="agregarPlaga(f.value)" -->

    <div class="col-md-6 animated fadeInDown">
        <div>
            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [legend]="barChartLegend" [chartType]="barChartType">
                     </canvas>
                </div>
            </div>
        </div>
    </div>.