<div class="container">
    <div class="row">
        <div class="col-md-4 offset-1">
            <h1>
                TIPS
            </h1>
            <ul>
                <li>
                    Regarlas por la mañana o por la noche, nunca realizarlo por las tardes por que se marchitan.
                </li>
                <li>
                    Cuando se tiene de planta un helecho o una patita de elefante, es mejor cortar un poco menos de la mitad de sus hojas, para que estas crescan de una mejor forma y no se sequen.
                </li>
                <li>
                    Si se tiene una planta de sombra nunca exponerla al sol porque esta al estar, expuesta se marchitará inediatamente.
                </li>
            </ul>
        </div>
        <div class="col-md-3 offset-md-3">
            <img src="../../../assets/images/8l.png" class='img animated rotateIn' alt="">
        </div>
    </div>
</div>

<div class="container center">
    <div class="row">
        <div class="card animated flip" style="width: 18rem;">
            <img src="../../../assets/images/10.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">
                    Fertilizante
                </h2>
                <p class="card-text">Fertilizante para proteccion contra plagas</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/16.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">
                    Lombriz Fertilizante
                </h2>
                <p class="card-text">Lombrices una muy buena ocion para abono para plantas</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card left" style="width: 18rem;">
            <img src="../../../assets/images/11.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">
                    Fertilizante Natural
                </h2>
                <p class="card-text">Fertilizante natural para la protección de las plantas</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card tiendita" style="width: 18rem;">
            <img src="../../../assets/images/15.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">
                    Biocarbón
                </h2>
                <p class="card-text">La nueva mejor opción para el cuidado de plantas y medio ambiente</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card tiendita" style="width: 18rem;">
            <img src="../../../assets/images/13.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">
                    Excremento de mascota en abono
                </h2>
                <p class="card-text">Utiliza el excremento de tus mascotas para abono hacer la tierra fertil</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="card tiendita" style="width: 18rem;">
            <img src="../../../assets/images/14.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">
                    Compostas
                </h2>
                <p class="card-text">Compostas la nueva creacion para los milenials por milenials </p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
    </div>
</div>