<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" routerLink="home">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="mapa">Mapa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="tienda">Tienda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="perfil">Perfil</a>
    </li>
</ul>